

.SysAdmSlider{
    width:100% ;
    text-align: center;
}

.SysAdmSlider_h2{
    width:100% ;
    padding-top: 2vw;
    padding-bottom: 1.5vw;
    text-align: center;
    font-size: 2vw;
}

.SysAdmSlider_descr{
    padding: 0 auto;
    margin: 0 auto;
    width: 90%; 
    text-align: left;
    font-family: 'Gilroy';
    font-style: normal;
    line-height: 1.8vw;
    font-size: 1.2vw;
}




.b24{
    background: #5C4DB7;
    border-radius: 60px;
    padding: 1.5vw 5vw;
    font-size: 1.4vw;
    line-height: 2.5vw;
    color: #FFFFFF;
}


.b24:hover {
    background: linear-gradient(45deg, #0037ff, #00adff);
    transform: scale(0.3);
}
































h11{
	display:flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 500px;
	margin: auto;
	background-color: #21D4FD;
	background-image: 
    linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
	animation: morphing 10s infinite;
	overflow: hidden;
}



@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0,0,0,0.2);
    }
    25% { 
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }
    50% {
        border-radius :50% 50% 33% 67% / 55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0,0,0,0.2);
    }
    75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;		
    }
}