.section-team-m{
    margin: 0 auto;
    padding: 0 auto;
    width: 90%;

    background:
  
    radial-gradient(at 50% 0%,#5C4DB7  0% , rgb(10, 1, 1)  40%) ;

    background-repeat: no-repeat;
}

.section-team-m{
    text-align: center;
}

.section-team-m h2{
    font-size: 2.3vw;
    line-height: 2.4vw;
    padding-top: 3vw;
    padding-bottom: 1.5vw;
}

.section-team-m div{
    font-size: 1.1vw;
    line-height: 2.4vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
}


.team-cart{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.team-cart div img{
    height: 18vw;
}

