.one_block{
    width:100% ;
    text-align: center;
}


.one_block_h2{
    width:100% ;
    padding-top: 2vw;
    padding-bottom: 1.5vw;
    text-align: center;

    font-size: 3vw;

}

.One_block_descr{
    padding: 0 auto;
    margin: 0 auto;
    width: 90%;
   
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
 

   
}

.One_block_descr p{
    font-size: 2.1vw;

    line-height: 4vw;
   padding-top: 1.4vw;
}

.b24bonus{
    color:#5C4DB7;
}

.b24{
  
    background: #5C4DB7;
    border-radius: 60px;
    padding: 1.5vw 5vw;
    font-size: 1.4vw;
    line-height: 2.5vw;
    color: #FFFFFF;
}

.buttom{
    margin-top: 4vw;
    width: 100%;
    height: 100%;
    margin-bottom: 2vw;
    padding-bottom: 2vw;
}

.b24:hover {
    background: linear-gradient(45deg, #0037ff, #00adff);
    transform: scale(0.3);
}

