.He-services{ 
    margin-top: 0.3vw;
    width: 100%;
    background: #000;
   padding-top: 20px;
}

.he-S{
    height: 100%;
    margin: 0 auto; 
    width: 90%;
    display: grid;
    grid-template-columns:  auto auto auto auto auto;
    vertical-align: middle;
}


.he-S li{
    text-align: center;
}
/* убираем отступы и поля, а также list-style для "ul", 
 * и добавляем "position:relative" */
.He-services ul {
    list-style: none;
    position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
.He-services ul li:hover {
 
}

/* стилизуем ссылки */
.main-service {
    padding-top: 1.4vw;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    
}


/* изменяем цвет фона при наведении курсора */
.hov_a a:hover {
    color: #6e51d8;
}

.he-S li ul li a{
   
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
   color: #FFF;
}

.He-services ul li {
  height: 100%; 
  
}

.He-services ul ul {
    display: none;
    position: absolute;
    top: 100%;   
    
}

/* отображаем выпадающий список при наведении */
.He-services ul li:hover > ul {
    display:inherit;

}

/* первый уровень выпадающего списка */
.He-services ul ul li {
    padding: 1vw;
    min-width:12vw;
    background: #3c3183;
   
}

