.Main-slider{
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.Slider-S{
    padding: 0 auto;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: auto 50% 35% auto;
    
    
}

.Slider-text{
    font-size: 1.5vw;
}

.Slider-text-Title{
    margin-bottom: 4vw;

    font-size: 2.3vw;
   
}

.Slider-text-op{
    margin-bottom: 6vw;
}

.Slider-text-op p{
    margin-bottom: 1.2vw;
    font-size: 1.65vw;
    line-height: 2vw;
}

.button24{
    background: #856FAB;
    border-radius: 4px;
    padding: 2vw 9vw;
    font-size: 1.4vw;
    line-height: 2.5vw;
    color: #FFFFFF;
}

.Slider-s-images{
      width: 100%;
      
}

.Slider-s-images img{
    height: 33vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.vec-right{
  
   
    display: block;
    margin-left: auto;
    margin-right: 0; 
 
}
.vec-img{
    padding-top: 15vw;
 }

.vec-left{
    display: block;
    margin-left: 0;
    margin-right: auto ;
}

.slider-shag{
    padding-top: 1vw;
    width: 100%;
    justify-content: center;
    justify-items: center;

}

.vec-img-load{
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  
}

.shag-center{
    padding: 0 auto;
    margin: 0 auto;
    width: 12vw;
}