.Main-slider{
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

.Slider-S{
    padding: 0 auto;
    margin: 0 auto;
    width: 90%;
 
    display: grid;
    grid-template-columns: 65% 35%;
    
    
}

.Slider-text{
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5vw;
}

.Slider-text-Title{
    margin-bottom: 4vw;
    font-family: 'Inter';
    font-style: normal; 
    font-size: 2.3vw;
   
}

.Slider-text-op{
    margin-bottom: 6vw;
}

.Slider-text-op p{
    margin-bottom: 1.2vw;
    font-size: 1.65vw;
    line-height: 2vw;
}

.button24{
    background: #856FAB;
    border-radius: 4px;
    padding: 2vw 9vw;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.4vw;
    line-height: 2.5vw;
    color: #FFFFFF;
}

.Slider-s-images{
      width: 100%;
      
}

.Slider-s-images img{
    height: 33vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}