.Main-m-free{
   
    background-image: url(Vector.png);
    background-size: 30vw ;
}

.section-m-free{
   padding-top: 119px;
    margin: 0 auto;
    padding: 0 auto;
    width: 90%;
    text-align: center;
}
.mm-f-c{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

.mm-f-c h2{
    margin: 0 auto;
    padding: 0 auto;
    width: 70%;
    font-weight: 600;
    font-size: 70px;
    line-height: 117%;
}

.mm-f-c-1{

    padding-top: 97px;
    display: grid;
    grid-template-columns: 25% 25%;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    justify-content: center;
    
    
}

.mm-f-c-2{
   padding-top: 63px;
    display: grid;
    grid-template-columns: 25% 25%;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    justify-content: center;
    
}

.border_li{
    padding-top:35px ;
    border-bottom: 0.1vw solid #FFF ;
}

.mm-f-c-1 div{
    
 
}

.d-but{
    padding-top: 100px;
    padding-bottom: 111px;
}

.button-m-free{
 
   
    padding: 22px 51px;
    
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;

    color: #000;
    left: calc(50% - 518px/2);
    top: calc(50% - 75px/2 + 323.5px);

    background: #FFFFFF;
    border-radius: 60px;
  

}


