.addition-material-S{
    width: 90%;
    padding:  0 auto;
    margin: 0 auto;
    text-align: center;

    font-style: normal;
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 204%;
}

.addition-material-S h2{
    padding-top: 0.5vw;
    font-size: 2.2vw;
    margin-bottom: 1vw;
}
.text-addition{
    padding-top: 1.5vw;
    font-size: 1.2vw;
    line-height: 204%;
}


.addition-material{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    text-align: center;
    padding-bottom: 2vw;
}

.addition-material div img{
    height: 17vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.addition-material div p{
    font-size: 1vw;
    line-height: 1.4vw;
}