.Main-slider{
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 4vw;
    color: #FFFFFF;
    background:
   
    radial-gradient(circle at  right, #5C4DB7 1% , rgb(10, 1, 1)  25%) bottom right,
    radial-gradient(circle at  left,#5C4DB7  1% , rgb(10, 1, 1)  25%) bottom left;
    background-size: 50% 100%;
    background-repeat: no-repeat;

}

.Slider-S{
    padding: 0 auto;
    margin: 0 auto;
    width: 90%;
  
    text-align: center;
    
}

.logo_slider{
    height: 4vw;
}

.Slider-text{
    font-size: 1.5vw;
}

.Slider-text-Title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 6vw;
    font-size: 4vw;
    line-height: 104%;
    padding-top: 2vw;
    padding-bottom: 4vw;
   
}

.Slider-text-op{
    padding: 0 auto;
    margin: 0 auto;
    margin-bottom: 6vw;
    width: 50%;
}

.Slider-text-op p{
    font-family: 'Gilroy';
    font-style: normal;
    text-align: left;
    font-weight: 6vw;
    font-size: 1.5vw;
    line-height: 2vw;
}

.button24{
    background: #5C4DB7;
    border-radius: 60px;
    padding: 2vw 6vw;
    font-size: 1.4vw;
    line-height: 2.5vw;
    color: #FFFFFF;
    
}

.button24:hover {
    background: linear-gradient(45deg, #0037ff, #00adff);
    transform: scale(0.3);
}


