.AdvantagesOfSubscriptionService{
    
    padding: 0 auto;
    margin: 0 auto;
    width: 90%;
}

.AdvantagesOfSubscriptionService_h2{
    padding-top: 1vw;
    font-size: 1.5vw;
}

.AdvantagesOfSubscriptionService_descr{
    padding-top: 2vw;
    font-size: 1vw;
    line-height: 1.3vw;
    padding-bottom: 3vw;
}

.AdvantagesOfSubscriptionService_descr ul{
    padding: 1vw 0;
}


.AdvantagesOfSubscriptionService_descr ul li{
    
}


