.main-sectionForm{
    background: #000;
    color: #FFF;
    background:
  
    radial-gradient(at 50% 100%,#5b4db79c  0% , rgb(10, 1, 1)  40%) ;

    background-repeat: no-repeat;
}

.section-form{
    padding: 0 auto;
    margin: 0 auto;
    width: 90%;
}


.section-form{
    display: grid;
    grid-template-columns: 60% 40%;   
}



.t h2{
     
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 2.8vw;
    line-height: 104%;
    margin-top: 10%;
    margin-bottom: 10%;
}


.button-m-form{
    background: #FFFFFF;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3vw;
    padding: 1.1vw 3vw;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.5vw;
    color: #000;
    
    margin-top: 30%;
    margin-bottom: 30%;
    
}


.form-img {

    margin-left: auto;
    margin-right: auto;
}